:root {
  color: #f5f5f5;
  background-color: #0b0b0d;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100vw;
  min-height: 100svh;
}

body {
  background-color: #0b0b0d;
}

#root {
  display: block;
}
