:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #f5f5f5;
  background-color: #0b0b0d;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #cbd4ff;
  text-decoration: inherit;
}
a:hover {
  color: #9ca9ff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0b0b0d;
}
